<div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-4 ">
        <form action="/auth" method="post">
            <h1>{{error}}</h1>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Имя</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="name">
            </div>
 
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Пороль</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <button type="submit" class="btn btn-primary m-auto d-block px-5">Войти</button>
        </form>
    </div>
</div>